@import "../config/variables";
.rnd-tabs{
    .rnd-tab-options{
        display: flex;
        align-items: center;
        border-bottom: 0.8px solid grey;
        .rnd-tab-name{
            padding: 10px;
            color:grey;
            cursor: pointer;
        }
        .rnd-tab-name-active{
            color:$primary;
            position: relative;
            span{
                position: absolute;
                background:$primary;
                width: 100%;
                height: 1.6px;
                left: 0;
                bottom: -0.9px;
            }
        }
    }
    .rnd-tab-body{
        padding: 10px;
        transition: all 300ms ease-in;
    }
}