.rnd-card {
    background-color: #fff;
    padding: 5px 12px 12px 12px;
    margin: 8px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 1px 2px 15px 0px rgb(128 128 128 / 14%);

    .rnd-card-header {
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid grey;

        .rnd-card-title {
            font-weight: 600;
        }

        // .rnd-card-close{
        //     height: 15px;
        //     cursor: pointer;
        // }
    }

    .rnd-card-body {
        padding: .5rem 0px;
        overflow: hidden;
    }

    .rnd-card-footer {
        padding: 5px 3px;
    }
}

.rnd-card-outlined {
    outline: 1px solid #000000e3;
    box-shadow: none;
}

.isLoading {

    .rnd-card-title,
    .rnd-card-body,
    .rnd-card-footer {
        &:empty {
            background: #eee;
            background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
            border-radius: 5px;
            background-size: 200% 100%;
            animation: 1.5s shine linear infinite;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .rnd-card-body {
        min-height: 200px;
    }

    .rnd-card-title {
        width: 100px;
        height: 15px;
        border-radius: 0px;
    }

    .rnd-card-footer {
        width: 100%;
        height: 15px;
        border-radius: 0px;
    }
}