@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
  outline: none;
  user-select: none;
  transition: all 0.5s ease-in-out;
  font-family: 'Lato', sans-serif;
  a{
    text-decoration: none;
    color:#276ff2;

    &:hover{
      color:#1c4faf;
    }
  }
}
body{
  margin: 0px;
}

.rnd-d-flex{
  display: flex;
}

.rnd-justify-between{
  justify-content: space-between;
}

.rnd-justify-end{
  justify-content:end;
}

.float-right{
  float: right;
}

.rnd-w-100{
  width: 100%;
}
.rnd-bordered{
  border:1px solid grey;
}
.rnd-fade-enter{
  opacity: 0;
}
.rnd-fade-exit{
  opacity: 1;
}
.rnd-fade-enter-active{
  opacity: 1;
}
.rnd-fade-exit-active{
  opacity: 0;
}
.rnd-fade-enter-active,
.rnd-fade-exit-active{
  transition: opacity 500ms;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}